<div class="row">
	<div class="col-md-8 col-md-offset-2 admin-layout">
	  <h4 class="text-center"><%= action_name.capitalize %> Assessment</h4>
		<%=form_for (["admin",@assessment]) do |f|%>
		  <%= render  partial: 'shared/error_message' %>
			<%#= f.error_notification %>
			<div class="panel panel-default nested-fields answer-container form-inputs">
    		<div class="panel-body">
		       <div><%= f.label :Name %></div>
		       <div><%= f.text_field :name, class: 'form-control' %></div>
		    </div>
		  </div>

			<%= f.fields_for :questions do |question| %>
				<div class="form-group">
					<%= render 'question_fields', :f => question %>
				</div>
			<% end %>
			<p><%= link_to_add_association raw('<i class="fa fa-plus"></i> Add a question'), f, :questions, :class => 'btn btn-default' %></p>

			<div class="form-group">
	      <%= f.submit  class: "btn btn-primary form-control" %>
			</div>
		<% end %>
	</div>
</div>

