<div class="row">
	<div class="col-md-8 col-md-offset-2 admin-layout">
	  <h3 class="text-center"><%= action_name.capitalize %> Assessment</h3>
		<%=form_for (["superadmin",@assessment]) do |f|%>
			<% if @assessment.errors.any? %>
				<div id="error_explanation">
					<h4 ><%= pluralize(@assessment.errors.count, "error") %> prohibited this assessment from being saved:</h4>
					<ul class="assessment-list">
						<% @assessment.errors.full_messages.each do |message| %>
						<li><%= message %></li>
						<% end %>
					</ul>
				</div>
				<br>
		<% end %>
			<div class="panel panel-default nested-fields answer-container form-inputs">
    		<div class="panel-body">
		       <div><%= f.label :Name %></div>
		       <div><%= f.text_field :name, class: 'form-control' %></div>
		    </div>
		  </div>

			<%= f.fields_for :questions do |question| %>
				<div class="form-group">
					<%= render 'question_fields', :f => question %>
				</div>
			<% end %>
			<p><%= link_to_add_association raw('<i class="fa fa-plus"></i> Add a question'), f, :questions, :class => 'btn btn-default' %></p>

			<div class="form-group">
	      <%= f.submit  class: "btn btn-primary form-control" %>
			</div>
		<% end %>
	</div>
</div>

